# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc
*.generated.ts

# reports
junit_output
test-results
test-reports

# dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
*.code-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.shared.jsonc
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# cache
.angular/cache
/.sass-cache

# misc
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

*.orig
